<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="../img/favicon.png" />
    <title>Les fées mères - À Bientôt !</title>
    <link rel="stylesheet" href="../asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="../asset/css/merci.css">
</head>

<body>
    <p>{{size}}</p>
    <p>{{nomfichier}}</p>
    <p>{{email}}</p>
    <a href="{{url}}"><button type="button" name="button">Download</button></a>
</body>

<footer>
    <p id="copyright"><i>Copyright QAMA &#169; </i></p>
</footer>

</html>
